:root {
    --font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font);
    min-height: 100vh; /* Corrected the typo from 100dvh to 100vh */
}

/* Flex Utility Classes */
.flex { display: flex; }
/* All of these classes have a prerequisite */
.gap5 { grid-gap: 5px; }
.gap10 { grid-gap: 10px; }
.gap15 { grid-gap: 15px; }
.gap20 { grid-gap: 20px; }
.gap25 { grid-gap: 25px; }
.alignCenter { align-items: center; }
.flexColumns { flex-direction: column; }
.justifyCenter { justify-content: center; }

/* Spacing Utility Classes */
.w100 { width: 100%; }
.m0 { margin: 0; }

/* Styling Utility Classes */
.fontBold { font-weight: 700; }
.cursorPointer { cursor: pointer; }
.cursorCrosshair { cursor: crosshair; }
.bgBlack {
    color: white;
    background: black;
}